@model FinancialPlanner.Models.TransactionViewModel

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-6">
        <h2>Transactions for @Model.account.Name</h2>
    </div>
    <div class="col-6-md">
        <a class="btn btn-info" href="@Url.Action("Create", "Transactions", new { id = Model.account.Id })">Add Transaction</a>
    </div>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Status
            </th>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th>
                From
            </th>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                @{
                    var createdDate = item.Date.ToString().Split(' ');
                }
                <td>
                    @createdDate[0]
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Edit", "Transactions", new { id = item.Id })">Edit</a>
                    <a class="btn btn-info" href="@Url.Action("Void", "Transactions", new { id = item.Id })">Void</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">

    var inClub = '@TempData["Overdraft"]';

    if (inClub == "Over") {
        swal({
            type: 'error',
            title: 'Oops...',
            text: 'Your account was overdrafted from this transaction make sure you are not forgeting a transaction!',
        })
    }
    </script>

}

