@using FinancialPlanner.Models
@model LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Financial Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Branded Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/css/loginstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body>
    <div class="w3-agile-banner">
        <div class="center-container">
            <div class="header-w3l">
                <h1>Login</h1>
            </div>
            <div class="main-content-agile">
                <div class="wthree-pro">
                    <h2>Login Now</h2>
                </div>
                <div class="sub-main-w3">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="w3-head-continue">
                            <h4>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</h4>
                        </div>

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail" })
                        <div class="w3-head-continue">
                            <h4>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</h4>
                        </div>


                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        <div class="w3-head-continue">
                            <h4>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</h4>
                        </div>

                        <div class="rem-w3">
                            <span class="check-w3">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </span>
                            <a href="@Url.Action("ForgotPassword", "Account")" class="w3-pass">
                                Forgot your password?
                            </a>
                            <div class="clear"></div>
                        </div>
                        <div class="w3-head-continue">
                            <h4><a href="@Url.Action("Register", "Account")" style="float: none">No account? Register?</a></h4>
                        </div>
                        <div class="clear"></div>
                        <input type="submit" value="Log in" />
                        <br />
                        <br />
                        <a href="@Url.Action("Index", "Home")" style="float: none">Home</a>
                    }
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}