@model FinancialPlanner.Models.BudgetViewModel

<div class="row">
    <div class="col-md-6">
        <h2>Budget for @Model.account.Name</h2>
    </div>
    @if (Model.budget.BudgetCategories.Count() == (int)TempData["CatCount"])
    {

    }
    else
    {
        <div class="col-6-md">
            <a class="btn btn-info" href="@Url.Action("Create", "BudgetCategories", new { id = Model.budget.Id, accountId = Model.account.Id })">Add Budget Category</a>
        </div>
    }

</div>
<br />
<br />
@if (Model.budget.Amount == 0)
{
    <h4>You do not have any budgets set create one to get started!</h4>
}
else
{
    <br />
    <div class="row">
        <div class="col-md-6">
            <h4>Spending from the last 30 days</h4>
            <br />
            @if (double.Parse((string)TempData["Percent"]) > 100)
            {
                <p>You have gone over your budget</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: 100%"></div>
                </div>
            }
            else
            {
                <div class="progress">
                    <div data-toggle="tooltip" title="You are at @TempData["Percent"]% of @Model.budget.Amount" class="progress-bar progress-bar-info" style="width: @TempData["Percent"]%"></div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="card">
                    <div class="card-header">
                        <h4>Total Spending</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart4"></canvas>
                    </div>
                </div>
        </div>
    </div>
    <br />
    <h4>Spending by Category</h4>
    <br />
    <br />
    <div class="row">
        @foreach (var item in Model.budget.BudgetCategories)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>@item.Category.Name</h4>
                    </div>
                    <br />
                    <div class="card-body">
                        <canvas id="@item.Category.Name"></canvas>
                    </div>
                </div>
                <br />
                <a class="btn btn-info" href="@Url.Action("Edit", "BudgetCategories", new { id = item.Id, accountId = Model.account.Id })">Edit</a>
            </div>
        }
    </div>
}

<br />
<br />

@section scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        var ctx = document.getElementById("myChart4").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        @TempData["PieData"]
                    ],
                    backgroundColor: [
                        '#ea4b76',
                        @Html.Raw(TempData["PieColor"])
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    @Html.Raw(TempData["PieLable"])
                ],
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom',
                },
            }
        });
    </script>

    @foreach (var item in Model.budget.BudgetCategories)
    {
        <script>
        var ctx = document.getElementById('@TempData[item.Category.Name]').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [@Html.Raw(TempData[item.Category.Name + "L"])],
                datasets: [{
                    label: 'Statistics',
                    data: [@TempData[item.Category.Name + "1"]],
                    borderWidth: 2,
                    backgroundColor: '@TempData[item.Category.Name + "C"]',
                    borderColor: '@TempData[item.Category.Name + "C"]',
                    borderWidth: 2.5,
                    pointBackgroundColor: '#ffffff',
                    pointRadius: 4
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 150
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            display: false
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                },
            }
        });
        </script>

    }

}